/*                                                                                                                                       ~ ~ floating.css ~ ~
                                                                                                                                        by CoolCarsOnTheRun
Do not use without deleting this header or the main pseudoelement.

View all of CoolCarsOnTheRun's past CSS releases and get the import URL at https://enigmatology.github.io/aops-blogs/css-releases.

CREDITS:
• Various CSS snippets and patches from happycupcake
*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
 
#page-wrapper {
margin: 0;
padding: 0;
}
 
h1 {
margin: 0;
padding: 0;
width: 100%;
}
 
#wrapper {
margin: 50px 0 0 0;
width: 100%;
padding: 0;
position: relative;
background: white linear-gradient(to right, #80b2ff, #d4e5ff) repeat-y scroll
        left center;
background-size: 25%;
}
 
#navigation_box {
border-style: none;
position: fixed;
white-space: nowrap;
margin: 0;
padding: 0 25px 0 25px;
height: 50px;
background-color: #0042a8;
}
 
#navigation_box a {
color: white;
text-align: center;
line-height: 50px;
}
 
#main {
width: 75%;
float: right;
}
 
#side {
width: 25%;
float: left;
}
 
#archive-widget a {
color: white;
overflow: hidden;
background: linear-gradient(to right, black, black 50%, white 50%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 200% 100%;
background-position: 100%;
transition: background-position 275ms ease;
}
 
#archive-widget a:hover {
background-position: 0 100%;
}
 
#header {
background-color: black;
 
overflow: hidden;
background: linear-gradient(to left, #c8cee6 50%, black 50%) right;
background-clip: text;
 
background-size: 200% 100%;
background-position: 100%;
transition: background-position 1000ms ease;
}
 
#header:hover {
background-position: 0 100%;
}
 
#header h1 {
color: black;
font-size: 100px;
font-family: 'Audiowide', cursive;
line-height: 160px;
 
overflow: hidden;
background: linear-gradient(to right, #c8cee6, #c8cee6 50%, black 50%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 200% 100%;
background-position: 100%;
transition: background-position 1000ms ease;
}
 
#header h1:hover {
background-position: 0 100%;
}
 
#header {
height: fit-content;
border-style: none;
}
 
a h1:hover {
text-decoration: initial;
}
 
#right_navigation_box {
position: relative;
}
 
#right_navigation_box a {
font-size: 0.01px;
width: 2.5rem;
background-size: auto 40%;
background-repeat: no-repeat;
position: relative;
margin-top: 0px;
height: 3rem;
background-position: center;
filter: invert(100%);
}
 
#right_navigation_box .blog-info {
background-image: url("https://static.thenounproject.com/png/2210481-200.png");
z-index: 12;
}
 
#right_navigation_box .blog-logout {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSwnIr-Uir7OD5eKQR4bQmhpddgig-klPTqOyulqi4Ctr6VzRIZ%3Ahttps%3A%2F%2Ficon2.cleanpng.com%2F20180704%2Ffz%2Fkisspng-computer-icons-download-logout-5b3c74d5dc14f1.2240563015306887259015.jpg&usqp=CAU");
z-index: 12;
}
 
#right_navigation_box .blog-login {
background-image: url("https://i.ibb.co/BT6Rcn6/login.png");
z-index: 12;
}
 
#right_navigation_box #blog-subscribe {
background-image: url("https://i.ibb.co/3F7vB5B/subscribe.png");
z-index: 12;
}
 
#right_navigation_box {
font-size: 0.01px;
}
 
#right_navigation_box a:hover {
background-color: #F4FF52;
}
 
#left_navigation_box a {
font-family: 'Arimo', sans-serif;
}
 
#main::after {
content: "floating.css v0.1 coded by CoolCarsOnTheRun.";
position: relative;
margin-top: 5px;
text-align: center;
font-size: 1em;
color: black;
display: block;
margin-bottom: 5px;
}
 
/*Shouts scrollbar patch by happycupcake.*/
.blog-shout-wrapper > .aops-scroll-outer > .aops-scroll-inner{
  scrollbar-width: none;
}
.blog-shout-wrapper > .aops-scroll-outer > .aops-scroll-inner::-webkit-scrollbar {
  width: 0px; /*Yay for nonstandard behavior /s.*/
}
 
#post-new-entry-img {
display: none;
}
 
#post-new-entry-p {
text-align: center;
line-height: 45px;
position: relative;
background-color: rgb(240,240,240);
margin: 0;
padding: 0;
height: 45px;
font-weight: 600;
font-size: 20px;
}
 
#post-new-entry-p a:hover {
color: black;
}
 
#post-new-entry-p a {
display: block;
}
 
.entrywrap {
border-style: none solid none none !important;
border-width: 25px !important;
border-color: #c8cee6 !important;
}

::-webkit-scrollbar {
width: 13px;
}

::-webkit-scrollbar-track {
background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}
