/*                                                                                                                                       ♾ ♾ INFINITY.CSS ♾ ♾
                                                                                                                                           by CoolCarsOnTheRun
Do not use without deleting this header or the wrapper pseudoelement.

View all of CoolCarsOnTheRun's past CSS releases and get the raw CSS at https://enigmatology.github.io/aops-blogs/css-releases.

CREDITS:
• Inspiration for the sidebar from Leaving.css by Mathlete2017
• Inspiration for fixed header scrolling from Zap.CSS by palaashgang and others
• General inspiration from 2112.CSS by RedFlame2112
• Various CSS snippets and patches from happycupcake
• Header background from https://codepen.io/kootoopas/pen/reyqg
*/

@import url('https://enigmatology.github.io/aops-blogs/infinity/infinity-raw.css');
