<div id="top-wrapper">
  <button id="openbtn" onclick="openNav()">☰</button>  
  <h1 class="top-header">&lt;enigmatology&gt;</h1>
  <div id="auth"></div>
</div>

<div id="topnav">
  <a href="javascript:void(0)" id="closebtn" onclick="closeNav()">×</a>
  <a href="https://enigmatology.github.io/">Home</a>
  <a href="https://enigmatology.github.io/asymptote-blog">Asymptote Tutorials</a>
  <a href="https://enigmatology.github.io/personal-blog">Personal Blog</a>
  <a href="https://enigmatology.github.io/about">About Me</a>
  <a href="https://enigmatology.github.io/mock-contests/contests">Mock Contest Platform</a>
</div>
