@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

.shown {
  display: block;
}
.hidden {
  display: none;
}


#login-form {
  padding: 15px;
}

#login-form * {
  font-family: 'Rubik', sans-serif; 
}

input[type=text], input[type=password] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  float: right;
}

label > * {
  width: 25%;
  float: left;
  line-height: 60px;
  font-weight: 500 !important;
}

.field {
  overflow: auto;
}

#register {
  display: block;
  background-color: #1D3461;
  color: white;
  padding: 14px 20px;
  border: solid #1D3461 2px;
  cursor: pointer;
  width: 36%;
  float: right;
  margin-right: 3%;
  font-weight: 100;
}

#register:hover {
  background-color: white;
  color: #1D3461;
  border: solid #1D3461 2px;
}

#login {
  float: right;
  display: block;
  background-color: white;
  color: #1D3461;
  border: solid #1D3461 2px;
  padding: 14px 20px;
  cursor: pointer;
  float: right;
  width: 36%;
  text-decoration: none;
  font-weight: 100;
  font-size: 13.3333px;
  box-sizing: border-box;
  text-align: center;
}

#login:hover {
  background-color: #1D3461;
  color: white;
  border: solid #1D3461 2px;
}

#passwords-not-equal, #invalid-email, #missing-field {
  color: red;
  width: 75%;
  float: right;
  margin-bottom: 8px;
  text-align: center;
  font-family: 'Rubik', sans-serif; 
}
