#posts {
  margin: 20px;
}

.post-header {
  padding: 15px;
  font-size: 25px;
}

.post-content {
  padding: 15px;
}

.hidden {
  background-color: blue !important;
}

.shown {
  background-color: orange !important;
}
