#posts {
  margin: 20px;
}

.post-header {
  padding: 15px;
  font-size: 25px;
}

.post-content {
  padding: 15px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #e3e3e3;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border-color: #6e6e6e;
  border-style: solid;
}

.hide-tag {
  background-color: #87a3ff;
  color: black;
  padding: 7px;
  border-radius: 1px;
  border-style: none;
}

.hide-tag:hover {
  background-color: #1f3a94;
  color: white;
}

.hide-tag:focus {
  outline: none;
  box-shadow: none;
}

.code {
  width: 100%;
  padding: 15px;
  margin: 15px 0 15px 0;
  font-family: 'Source Code Pro', monospace;
  background-color: black;
  color: white;
}

.centered {
  text-align: center;
}
