@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://highlightjs.org/static/demo/styles/atom-one-light.css');

#posts {
  margin: 20px;
}

.post-header {
  padding: 15px;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  float: left;
  width: 75%;
  height: 60px;
}

.post-date {
  font-family: 'Rubik', sans-serif;
  padding: 15px;
  font-style: italic;
  float: right;
  width: 25%;
  text-align: right;
  height: 60px;
  line-height: 33px;
}

.post-content {
  padding: 15px;
  padding-top: 0;
  line-height: 25px;
  font-family: 'Rubik', sans-serif;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #e3e3e3;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border-color: #6e6e6e;
  border-style: solid;
}

.hide-tag {
  background-color: #87a3ff;
  color: black;
  padding: 4.5px;
  border-radius: 1px;
  border-style: none;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

.hide-tag:hover {
  background-color: #1f3a94;
  color: white;
}

.hide-tag:focus {
  outline: none;
  box-shadow: none;
}

.code {
  width: 100%;
  padding: 15px;
  margin: 15px 0 15px 0;
  font-family: 'Source Code Pro', monospace !important;
  background-color: black;
  color: white;
}

.centered {
  text-align: center;
}

code {
  font-size: 15px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 775px) {
  .post-header {
    width: calc(100% - 35px);
    padding-bottom: 5px;
    height: fit-content;
  }
  .post-date {
    width: calc(100% - 15px);
    height: fit-content;
    padding: 0;
    padding-left: 10px !important;
    text-align: left;
  }

  .code {
    width: calc(100% - 30px);
  }

  .shown {
    width: calc(100% - 30px);
  }
}
