#header {
  font-size: 75px;
  font-family: 'Source Code Pro', monospace;
  margin-top: 155px !important;
  text-align: center;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#header::after {
  animation-name: flicker;
  animation-iteration-count: infinite;
  content: "";
  animation-duration: 1.75s;
  position: absolute;
}

@keyframes flicker {
  0% {content: "_";}
  50% {content: "";}
  100% {content: "_";}
}

#description {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: black;
  color: #d6d6d6;
  width: 300px;
  font-style: italic;
  margin-top: 250px;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#top-section {
  height: 500px;
  width: 100%;
  position: relative;
}

#aopsuser {
  height: 150px;
  background-color: #2d7cc2;
  color: white;
  text-align: center;
}

#aopsuser a {
  text-decoration: none;
  color: black;
  font-style: italic;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 75px;
}

#usernametext {
  animation: spread;
  animation-duration: 3s;
  letter-spacing: 35px;
  font-size: 25px;
  margin-top: 50px;
  text-transform: uppercase;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

@keyframes spread {
  0% {letter-spacing: 2px;}
  100% {letter-spacing: 35px;}
}
