@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,600;1,300&display=swap');

@media only screen and (min-width: 775.00001px) {
  #header {
    font-size: 75px;
    font-family: 'Source Code Pro', monospace;
    margin-top: 10px !important;
    text-align: center;
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  #header::after {
    animation-name: flicker;
    animation-iteration-count: infinite;
    content: "";
    animation-duration: 1.75s;
    position: absolute;
  }

  @keyframes flicker {
    0% {content: "_";}
    50% {content: "";}
    100% {content: "_";}
  }

  #description {
    text-align: center;
    margin: auto;
    padding: 5px;
    background-color: black;
    color: #d6d6d6;
    width: 300px;
    font-style: italic;
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    font-family: 'Rubik', sans-serif; 
    font-weight: 100;
  }

  #top-section {
    width: 100%;
    position: relative;
  }

  #aopsuser {
    height: 150px;
    background-color: #77a6d9;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
  }

  #aopsuser a {
    text-decoration: none;
    color: black;
    font-style: italic;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 75px;
  }

  #usernametext {
    letter-spacing: 35px;
    font-size: 25px;
    margin-top: 50px;
    text-transform: uppercase;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  #top-links {
    height: 500px;
    width: 100%;
    position: relative;
    margin-top: 50px;
    background-color: #B1DDF1;
  }

  #top-links a {
    display: block;
    width: 20%;
    height: 500px;
    transform: skew(-15deg);
    float: right;
    text-decoration: none;
    transition: width 0.2s;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 600;
  }

  #top-links a:hover {
    width: calc(40% - 133.97459621556135323627682924706px);
    transition: width 0.2s;
  }

  #asymptote {
    background-color: #6290C8;
  }

  #web-design {
    background-color: #376996;
  }

  #life {
    background-color: #1F487E;
  }

  #about {
    margin-right: 66.987298107780676618138414623532px;
    background-color: #1D3461;
  }

  .link-text {
    transform: skew(0deg) rotate(-90deg);
    display: block;
    position: relative;
    top: 250px;
    right: 150px;
    width: 400px !important;
  }
  
  #mobile-aops {
    display: none;
  }
}

@media only screen and (max-width: 775px) {
  #top-section {
    height: 60vh;
  }
  
  #header {
    display: none;
  }
  
  #description {
    display: none;
  }
  
  #top-links {
    width: 100%;
  }
  
  #top-links a {
    width: 25%;
    float: left;
    height: 60vh;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-weight: 1000;
    font-style: italic;
    font-size: 20px;
  }
  
  #about {
    background-color: #1D3461;
  }
  
  #life {
    background-color: #1F487E;
  }
  
  #web-design {
    background-color: #376996;
  }
  
  #asymptote {
    background-color: #6290C8;
  }
  
  .link-text {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    width: 200px;
    margin-top: calc(60vh - 30px);
    margin-left: calc(12.5vw - 20px);
    
  }
  
  #aopsuser {
    width: 100%;
  }
  
  #usernametext {
    display: none;
  }
  
  #mobile-aops {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: #77a6d9;
    color: white;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 100;
    height: 75px;
    line-height: 72px;
    text-decoration: none;
    letter-spacing: 1vw;
  }
  
  #desktop-aops {
    display: none;
  }
}
