@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

#header {
  font-size: 75px;
  font-family: 'Source Code Pro', monospace;
  margin-top: 10px !important;
  text-align: center;
  position: relative;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#header::after {
  animation-name: flicker;
  animation-iteration-count: infinite;
  content: "";
  animation-duration: 1.75s;
  position: absolute;
}

@keyframes flicker {
  0% {content: "_";}
  50% {content: "";}
  100% {content: "_";}
}

#description {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: black;
  color: #d6d6d6;
  width: 300px;
  font-style: italic;
  position: relative;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#top-section {
  width: 100%;
  position: relative;
}

#aopsuser {
  height: 150px;
  background-color: #77a6d9;
  color: white;
  text-align: center;
}

#aopsuser a {
  text-decoration: none;
  color: black;
  font-style: italic;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 75px;
}

#usernametext {
  letter-spacing: 35px;
  font-size: 25px;
  margin-top: 50px;
  text-transform: uppercase;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

#top-links {
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: 50px;
  background-color: #B1DDF1;
}

#top-links a {
  display: block;
  width: 20%;
  height: 500px;
  transform: skew(-15deg);
  float: right;
  text-decoration: none;
  transition: width 0.2s;
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  color: white;
}

#top-links a:hover {
  width: calc(40% - 133.97459621556135323627682924706px);
  transition: width 0.2s;
}

#asymptote {
  background-color: #6290C8;
}

#web-design {
  background-color: #376996;
}

#life {
  background-color: #1F487E;
}

#about {
  margin-right: 66.987298107780676618138414623532px;
  background-color: #1D3461;
}

.link-text {
  transform: skew(0deg) rotate(-90deg);
  display: block;
  position: relative;
  top: 250px;
  right: 150px;
  width: 400px !important;
}
