@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* --- OVERALL CSS --- */
.shown {
  display: block;
}
.hidden {
  display: none !important;
}

button {
  background-color: white;
  border-color: #1F487E;
  border-radius: 0;
  border-width: 2px;
  transition: background-color 0.25s ease, color 0.25s ease;
}
button:hover {
  background-color: #1F487E;
  color: white;
  transition: background-color 0.25s ease, color 0.25s ease;
}
:focus {
  outline: none;
}

img {
  height: auto;
}

/* --- HOME SCREEN CSS --- */
/* heading */
#page-header {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  font-family: roboto, sans-serif;
}

/* test selection */
#test-dropdown {
  position: absolute;
  overflow: hidden;
  display: block;
  border-style: none solid solid solid;
  border-color: black !important;
  border-width: 0.7px !important;
}
.no-border {
  border-style: none !important;
}
.test {
  width: 100%;
  border: none;
  padding: 15px;
  background-color: #ABC1DE;
}
#test-names {
  position: relative;
  text-align: left;
  color: gray;
}
#test-names:hover {
  color: white !important;
}
#test-names::after {
  content: "▼";
  position: absolute;
  right: 10px;
  font-size: 12px;
}
.dropdown-shown {
  max-height: 300px !important;
  transition: max-height 0.5s ease;
}
.dropdown-hidden {
  max-height: 0;
  transition: max-height 0.5s ease;
}


#test-choice {
  padding: 15px;
}
#test-choice option {
  color: black;
}
#test-choice .select-btn {
  height: 50px;
  border-width: 2px;
  border-radius: 0;
  box-sizing: border-box !important;
  border-color: #1F487E;
  border-style: solid;
}
#test-year {
  border-color: red;
}
@media (min-width: 675.0000000000000001px) {
  #test-choice .select-btn {
    width: calc(calc(100% - 30px) / 5);
  }
  #test-dropdown {
    width: calc(calc(calc(100% - 30px) / 5) - 6px);
  }
}
@media (max-width: 675px) {
  #test-choice .select-btn {
    width: calc(calc(100% - 30px) / 3);
    margin-bottom: 6px;
  }
  #test-dropdown {
    width: calc(calc(calc(100% - 30px) / 3) - 11.61px);
    margin-top: -6px;
  }
}

/* other options */
#other-resources {
  width: 100%;
}

.info-header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

#results-link {
  text-align: center !important;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #1F487E;
  font-weight: 500;
}

#results-link:hover {
  text-decoration: underline;
}

#results-link-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* --- LOADING SCREEN CSS --- */
/* heading */
#loading-text {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-family: roboto, sans-serif;
}

/* --- TEST SCREEN CSS --- */
/* overall */
#test-screen {
  margin-left: 185px;
  margin-right: 185px;
}

#questions {
  border: solid gray 1px;
}

/* heading */
#contest-heading-text {
  margin-top: 15px;
  font-size: 30px;
  text-align: center;
  font-family: roboto, sans-serif;
}

/* timer */
#timer {
  background-color: white;
  border: solid black;
  width: 250px;
  height: 100px;
  padding: 15px;
  font-family: roboto, sans-serif;

  position: sticky;
  top: 15px;
  right: 15px;
  float: right;

  z-index: 100;
}

/* questions */
#questions {
  margin-top: 150px;
}
/* latexcenter is theoretically unnecessary because of mathjax */
.latexcenter {
  margin: auto;
  display: block;
  padding: 15px;
}
.problem-body {
  margin-bottom: 50px;
  width: calc(3 / 4 * (100% - 30px));
  float: right;
  display: block;
  font-family: roboto, sans-serif;
}
.problem-body > p {
  margin: 0 0 15px 0;
}

.problem-number {
  width: 30px;
  float: left;
  font-family: roboto, sans-serif;
}
.problem {
  overflow: auto;
  padding: 15px;
}

/* bubbles */
.bubbles {
  width: calc(2 / 10 * calc(100% - 30px));
  float: left;
  font-family: roboto, sans-serif;
}
.bubbles > button {
  float: left;
  border: solid black;
  border-radius: 20px;
  padding: 9px 20px 9px 20px;
  font-size: 15px;
  margin: 5px;
  transition-property: none !important;
  color: black;
}
.bubbles > button:hover {
  transition-property: none !important;
}
.bubbles > button:disabled {
  color: gray;
}

.selected {
  background-color: #c0d1eb;
}
.selected:hover {
  background-color: #a3bde3;
}
.selected:active {
  background-color: #82a2d1;
}

.deselected {
  background-color: white;
}
.deselected:hover {
  background-color: #e3e3e3;
}
.deselected:active {
  background-color: #c2c2c2;
}

/* aime answer field */
.answer-input {
  width: 100px;
  padding: 3px 5px;
  box-sizing: border-box;
  border-color: black;
  border-radius: 0;
  border-width: 1px;
}

.answer-input-wrapper {
  position: relative;
  width: calc(2 / 10 * calc(100% - 30px));
  float: left;
  font-family: roboto, sans-serif;
}

/* ending */
#finish-test {
  margin: auto;
  padding: 10px 20px 10px 20px;
  display: block;
  margin-bottom: 15px;
}

/* --- FINISHED SCREEN --- */
/* finished heading */
#view-scores {
  margin: auto;
  display: block;
  padding: 7px;
  font-family: roboto, sans-serif;
}
#finished-score {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: roboto, sans-serif;
}
#finished-heading-text {
  font-size: 30px;
  font-family: roboto, sans-serif;
  margin-top: 15px;
  text-align: center;
}

/* --- REVIEW SCREEN --- */
/* review heading */
#review-heading-text {
  font-size: 30px;
  font-family: roboto, sans-serif;
  margin-top: 15px;
  text-align: center;
}
#review-score {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  font-family: roboto, sans-serif;
}

/* score report */
#show-score-table {
  padding: 7px;
  margin: auto;
  display: block;
}
#answers-table {
  border-collapse: collapse;
  padding: 15px;
  width: 50%;
  margin: auto;
  margin-top: 15px !important;
  font-family: roboto, sans-serif;
}
#answers-table th, #answers-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}
#answers-table tr:nth-child(even) {
  background-color: #dddddd;
}

/* --- POPUP AND SETTINGS CSS --- */
#settings {
  position: absolute;
  bottom: 15px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22.666666666666666666666666666667px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17.333333333333333333333333333333px;
  width: 17.333333333333333333333333333333px;
  left: 2.6666666666666666666666666666667px;
  bottom: 2.6666666666666666666666666666667px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #376996;
}

input:focus + .slider {
  box-shadow: 0 0 1px #376996;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17.333333333333333333333333333333px);
  -ms-transform: translateX(17.333333333333333333333333333333px);
  transform: translateX(17.333333333333333333333333333333px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 22.666666666666666666666666666667px;
}

.slider.round:before {
  border-radius: 50%;
}

#settings-popup {
  position: fixed;
  width: 500px;
  height: 300px;
  
  padding: 10px;
  bottom: 0;
  left: 0;
  margin: auto;
  top: 0;
  right: 0;
  border-style: solid;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#gray-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.5);
  top: 0;
  z-index: 4327473289479238749823747938274239;
}

#close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  padding: 0;
  cursor: pointer;
}
#popup-header {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

#settings:hover {
  cursor: pointer;
}

/* --- PRINT CSS --- */
@media print {
  #navbar, #timer, .bubbles, #finish-test {
    display: none;
  }
  .problem-number, .problem-body {
    width: 100%;
  }
  #questions {
    margin-top: 0;
  }
  img {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
    display: inline-block;
  }
  /* latexcenter is theoretically unnecessary because of mathjax */
  .latexcenter {
    display: block;
  }
  * {
    overflow: hidden;
  }
}
